.card-container {
    width: 100%;
    background-color: #d5d7dc;
    border-radius: 5px;
    box-sizing: border-box;
}

.hollow{
    background-color: inherit;
    border: 1px solid #d5d7dc;
    border-radius: 5px;
}