.balances{
    &-container{
        margin-top: 20px;
    }
    &-info{
        display: flex;
        margin: 15px;
        font-size: 20px;
        justify-content: space-around;
        .label{
            font-size: 16px;
            color: black;
        }
        .credit, .debit{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .credit{
            color: seagreen;
        }
        .debit{
            color: #d20000;
        }
        .divider{
            &-debit{
                border-left: 1px solid #d20000;
            }
            &-credit{
                border-left: 1px solid seagreen;
            }
        }
    }
}